@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  position: relative;
  width: 95vw;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: flex-start;
}

.header-img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; /* This one is implicit when not specified */
  z-index: 2;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.header-overlay-text {
  color: rgb(207, 207, 207);
  position: absolute;
  top: 50%; /* Adjust to center vertically */
  left: 50%; /* Adjust to center horizontally */
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  pointer-events: none;
  letter-spacing: 2px;
  padding: 1.5vh 0vw;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}