@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  position: relative;
  width: 95vw;
  height: 55vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: flex-start;
}

.header-img {
  height: 100%;
  width: auto;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 2;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.header-overlay-text {
  color: rgb(207, 207, 207);
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  pointer-events: none;
  letter-spacing: 2px;
  padding: 1.5vh 0vw;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

@media (max-width: 1024px) {
  .header-overlay-text {
    font-size: 9rem;
  }
}

@media (max-width: 768px) {
  .header-overlay-text {
    font-size: 7rem;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100vw;
    height: 40vh;
  }
  .header-overlay-text {
    font-size: 5rem;
    padding: 1vh 5vw; 
    letter-spacing: 1px;
  }
}