/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Layout container */
.firstpage {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #414141;
}

/* Left - video */
.videohalf {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.video-text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2vw;
  font-weight: bold;
  color: gray;
}

/* Right - login */
.loginhalf {
  width: 50%;
  background-color: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox {
  background-color: white;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
 gap: 15%;
  border-radius: 1vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}

.loginbox h2 {
  font-size: 2vw;
  color: #333;
}

.loginbox input {
  width: 80%;
  padding: 1vw;
  font-size: 1vw;
  align-items: center;
  
  background-color: #333;
  color: white;
  border-radius: 0.5vw;
  border: none;
}

.loginbox input::placeholder {
  color: white;
}

.loginbox button {
  width: 50%;
  padding: 1vw;
  font-size: 2vw;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  align-self: center;
}

.loginbox button:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 480px) {
  .firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .videohalf{
      width: 90vw;
      height: 40vh;

    }
    .loginhalf{
      width: 100vw;
      height: 60vh;
    }
  }

