.menubar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
  padding: 15px;
  background-color: rgb(248,248,248);
  width: 95vw;
  gap: 10vh; 
  border-radius: 15px;
}

.recom { 
  font-size: 2rem;
  padding: 3px;
  background-color: orange;
  border-radius: 15px;
}

.menu-item {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding:  16px;
  background-color: rgb(236,236,236);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0;
  flex-grow: 1;
  transition: padding-bottom 0.5s ease,
              background-color 0.3s ease,
              color 0.3s ease,
              transform 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;
  text-align: center; 
}

.menu-item:hover {
  background-color: rgb(44,95,121); 
  color: white;
  padding-bottom: 2vh;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  transform: scale(1.05); 
}

.menu-item span { 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.menu-item-image {
  width: 100px; 
  height: 100px; 
  object-fit: contain; 
}

@media (min-width: 768px) {
  .menubar {
    gap: 20px; 
  }
}