* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
    background-color: #414141;
}
.navbar{
    display: flex;
    background-color:aliceblue;
    height: 10vh;
    width: 95vw;
    color: black;
    border-radius: 20px;

}
.navbarlinks li.active {
  border-bottom: 2px solid black;
  padding-bottom: 0.1rem;
  color: orange;
 
}

.navbarlinks li:hover {
  color: #ff9800; 
  cursor: pointer;

  border-radius: 8px;
  transform: translateY(-6px);
  
}

.videomini{
    height: 10vh;
    width: 25%;
    border-radius: 20px;
}
.logo{
    width: 25%;
    display:flex;
    justify-content: center; 
  align-items: center;
  font-size:  1.8rem;
    
}

.navbarlinks{
 display: flex;
  justify-content: center; 
  align-items: center;
width: 40%;
 gap: 5%;
 list-style-type: none;
 font-size: 1.2rem;
}

   .searchbar {
    width: 35%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
padding-left: 20px;
border-radius: 10px;

  
}
.searchbar input{
    width: 80%;
    border-radius: 20px;
    height: 5vh;
    position: absolute;
text-align: center;
}

