
.paymentpage {
    background-color: #414141;
    min-height: 100vh;
    width: 100vw;
    padding: 4vh 3vw 2vh 3vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.payment-container {
    background-color: aliceblue;
    padding: 4vh 4vw;
    font-family: Arial, sans-serif;
    border-radius: 2vh;
    width: 100%;
    max-width: 90vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



.payment-form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-top: 4vh;
    flex-wrap: wrap;
}

.address-section,
.form-section {
    flex: 1;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

input,
textarea {
    padding: 1.2vh 1vw;
    border: 1px solid #ccc;
    border-radius: 1vh;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    padding: 1.5vh 2vw;
    border: none;
    border-radius: 1vh;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
}

button:hover {
    background-color: #218838;
}

.success-msg {
    color: green;
    font-weight: bold;
    margin-top: 2vh;
}

.amount-section {
    font-size: 1.5rem;
    margin-top: 2vh;
}


@media (max-width: 768px) {
    .payment-form-wrapper {
        flex-direction: column;
        gap: 4vh;
    }

    .address-section,
    .form-section {
        min-width: 80vw;
    }

    .amount-section {
        font-size: 1.2rem;
    }

    button {
        width: 100%;
        text-align: center;
    }
}
