 .recom-container {
  width: 95vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  background-color:aliceblue;
  padding: 5vw;
  border-radius: 15px;
  /* overflow-y: auto; */
}

.recom-item {
  width:20vw;
  height: 50vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
}
.recom-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px #414141;
}